{{define "hero"}}

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
    <div class="has-text-centered">
        <h1 class="title">Lahuta</h1>
        <h2 class="subtitle">Libra për të gjithë</h2>
    </div>
    </div>
  </div>
</section>
    <div class="container is-narrow">
        <br/>
        <div style="padding-left: .5rem;">
            <p> Shikoni një gabim? Rregulloje <a target="_blank" href="https://github.com/besmiresia/lahuta"> këtu. </a></p>
        <br/>
        <p>
          Librat përkthehen me ndihmën e softuerit dhe vullnetarëve
          njerëzorë. Çdo korrigjim i vogël që kontribuoni e bën
          bibliotekën tonë më të mirë për të gjithë!
        </p>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    </div>
{{end}}
